@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

:root {
    --cor-primaria: ;
    --cor-secundaria: ;
    --cor-tercearia: ;
    --font-primaria: 'Lora';
    --font-secundaria: 'Roboto';
    --scale1: (1.1);
    --espacamento1: 1.8rem;
    --espacamento2: ;
}

.nav-bar {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.8rem 0rem 1.8rem;
}

.lado-esquerdo img {
    max-width: 200px;
}

.lado-direito {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lado-direito a {
    text-decoration: none;
    font-family: var(--font-primaria);
    font-size: 0.9rem;
}

#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}