@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
}

:root {
    --cor-neutra1: rgb(29, 29, 29);
    --cor-neutra2: rgb(236, 236, 236);
    --cor-primaria: #00a6e2;
    --cor-secundaria: #76B4CA;
    --cor-tercearia: #e6f4f1;
    --font-primaria: 'Lora';
    --font-secundaria: 'Roboto';
    --espacamento1: 1.8rem;
    --espacamento2: ;
}

.nav-bar {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.8rem 0rem 1.8rem;
    z-index: 3;
}

.lado-esquerdo {
    margin-left: var(--espacamento1);
}

.lado-esquerdo img {
    width: clamp(100px, 50%, 200px);
}

.lado-direito {
    display: flex;
    align-items: center;
    margin-right: var(--espacamento1);
    gap: var(--espacamento1);
}

.lado-direito a {
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-size: 0.9rem;
    color: var(--cor-neutra2);
}

.contate {
    display: flex;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    padding: 0.4em 0.7rem;
    background-color: var(--cor-primaria);
    transition: all 0.3s ease-in-out;
}

.contate:hover {
    background-color: #004fe2;
    /* transform: scale(1.05); */
}

#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: var(--cor-neutra1);
    z-index: 3;
}

#hero::before {
    content: "";
    background: url(../images/fotosala2.jpeg) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
}

.hero-content {
    width: 100%;
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0rem 1.8rem 3rem 1.8rem;
    color: var(--cor-neutra2);
    z-index: 3;
}

.titulo-hero{
    width: 400px;
    font-size: 18px;
    font-family: var(--font-primaria);
    margin-left: 3rem;
}

.descricao-hero {
    max-width: 500px;
    font-size: 16px;
    font-family: var(--font-secundaria);
}

.botao-descricao {
    display: flex;
    gap: var(--espacamento1);
    margin-top: 1rem;
}

.botao-descricao a{
    text-decoration: none;
    color: var(--cor-neutra2);
    border: none;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    padding: 0.6rem 2rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
    white-space: nowrap;
}

#sobrenos {
    background: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: solid 1px var(--cor-tercearia);
}

#sobrenos:hover {
    background-color: var(--cor-neutra2);
    border: solid 1px var(--cor-neutra2);
    color: var(--cor-neutra1);
}

.botao-descricao a:hover {
    transform: scale(1.05);
    background-color: #004fe2;
}

#about {
    height: 100vh;
}