@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
}

:root {
    --cor-neutra1: rgb(29, 29, 29);
    --cor-neutra2: rgb(236, 236, 236);
    --cor-primaria: #00a6e2;
    --cor-secundaria: #76B4CA;
    --cor-tercearia: #e6f4f1;
    --cor-texto-descricao: #666;
    --font-primaria: 'Lora';
    --font-secundaria: 'Roboto';
    --espacamento1: 1.8rem;
    --espacamento2: ;
}

/* NAV BAR */

.nav-bar {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.8rem 0rem 1.8rem;
    z-index: 3;
    border-bottom: solid 0.5px var(--cor-neutra2);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: var(--espacamento1);
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: var(--cor-neutra2);
    font-weight: 500;
    font-size: 0.9rem;
}

#menu-toggle {
    display: none;
}

/* LEFT/RIGHT SIDE */

.left-side {
    margin-left: var(--espacamento1);
}

.left-side img {
    width: clamp(100px, 50%, 200px);
}

.right-side {
    display: flex;
    align-items: center;
    margin-right: var(--espacamento1);
    gap: var(--espacamento1);
}

.right-side a {
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-size: 0.9rem;
    color: var(--cor-neutra2);
}

.nav-links li.contate > a {
    display: flex;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    padding: 0.4em 0.7rem;
    background-color: var(--cor-primaria);
    transition: all 0.3s ease-in-out;
    color: var(--cor-neutra2);
}

.nav-links li.contate > a:hover {
    background-color: #004fe2;
}

/* HERO SECTION (HOME) */

#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: space-between;
    background-color: var(--cor-neutra1);
    z-index: 3;
}

#hero::before {
    content: "";
    background: url(../images/fotosala2.jpeg) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
}

.hero-content {
    width: 100%;
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0rem 1.8rem 3rem 1.8rem;
    color: var(--cor-neutra2);
    z-index: 3;
}

.hero-title{
    width: 400px;
    font-size: 18px;
    font-family: var(--font-primaria);
    margin-left: 3rem;
}

.hero-description {
    max-width: 500px;
    font-size: 16px;
    font-family: var(--font-secundaria);
}

.btns-descricao {
    display: flex;
    gap: var(--espacamento1);
    margin-top: 1rem;
}

.btn-descricao {
    text-decoration: none;
    color: var(--cor-neutra2);
    border: none;
    background-color: var(--cor-primaria);
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    padding: 0.6rem 2rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.btn-descricao.sobrenos {
    background: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: solid 1px var(--cor-tercearia);
}

.btn-descricao.sobrenos:hover {
    background-color: var(--cor-neutra2);
    border: solid 1px var(--cor-neutra2);
    color: var(--cor-neutra1);
}

.btn-descricao:hover {
    transform: scale(1.05);
    background-color: #004fe2;
}

/* ABOUT SECTION */

#about {
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background: var(--cor-neutra2);
    color: var(--cor-neutra1);
}

.about-container {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.about-image img {
    width: 100%;
    object-fit: cover;
}

.about-content {
    width: 50%;
    padding-top: 0.6rem;
}

.about-badge {
    display: inline-block;
    background-image: linear-gradient(to right, #00a6e2, #35aadc, #63b1cf, #76b4ca);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--font-primaria);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin-bottom: 1rem;
}

.about-badge i{
    margin-right: 0.5rem;
}

.about-content h2 {
    font-size: 3rem;
    margin: 0.6rem 0 1.8rem 0;
    line-height: 1.05;
    font-family: var(--font-primaria);
}

.about-content p {
    font-family: var(--font-secundaria);
    color: var(--cor-texto-descricao);
    margin-bottom: 0.9rem;
}

/* .btn-primary {
    display: inline-flex;
    align-items: center;
    background: var(--cor-primaria);
    color: var(--cor-neutra2);
    font-family: var(--font-secundaria);
    gap: 0.6rem;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem 0 1.6rem 0;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: #004fe2;
} */

.about-stats {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    margin: 3rem 0 1.8rem 0;
}

.stat {
    background: transparent;
    text-align: center;
}

.stat-value {
    font-family: var(--font-primaria);
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 0.2rem;
    background-image: linear-gradient(to right, #00a6e2, #35aadc, #4faed5, #63b1cf, #76b4ca);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.stat-label {
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: var(--cor-texto-descricao);
}

/* HOW IT WORK SECTION */

#howitworks {
    height: 60vh;
    width: 100%;
    background-color: var(--cor-neutra2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.howitworks-content {
    width: min(50%, 600px);
    text-align: center;
}

.howitworks-content h1 {
    font-family: var(--font-primaria);
    font-size: 3rem;
}

.howitworks-content h1 ~ p {
    font-family: var(--font-secundaria);
    color: var(--cor-texto-descricao);
}

/* .cta {
    position: absolute;
    top: 210%;
    right: 10%;
} */

.cards-container {
    width: 100%;
    margin-top: calc(var(--espacamento1) * 4);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* CARD*/ 

.card {
    width: 280px;
    background: var(--cor-neutra2);
    border-radius: 10px;
    padding: 50px 30px;
    position: static;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #4445;
    cursor: pointer;
}

.icon,
.heading,
.content {
    position: relative;
    z-index: 5;
    transition: all 0.5s;
    font-family: var(--font-secundaria);
    font-size: 16px;
}

.icon {
    font-size: 40px;
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

.heading {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: var(--font-primaria);
}

.number {
    position: absolute;
    top: -90px;
    right: -85px;
    padding: 80px 100px 30px 30px;
    background: var(--cor-primaria);
    border-radius: 100%;
    z-index: 5;
}

.number .text {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

.text {
    margin-top: 20px;
    font-family: var(--font-primaria);
}

.number::after {
    content: "";
    width: 50px;
    height: 50px;
    background: var(--cor-primaria);
    position: absolute;
    border-radius: 100%;
    top: 50%;
    right: 50%;
    transition: all 0.5s;
    transform: translateX(50%) translateY(-50%);
    z-index: -1;
}

.card:hover {
    scale: 1.02;
    box-shadow: 0 5px 20px #444e;
}

.card:hover .number::after {
    width: 900px;
    height: 900px;
}

.card:hover .icon,
.card:hover .heading,
.card:hover .content {
    color: var(--cor-neutra2);
}

/* CARROSSEL */

#carrossel {
    height: 30vh;
    width: 100%;
    background-color: var(--cor-neutra2);
}


@media (max-width: 768px) {
    .nav-bar {
    padding: 0rem 0rem 0rem 0rem;
}
    /* checkbox do menu (controla abertura) */
    #menu-toggle {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap: 5px;
    }

    .hamburger span {
        width: 28px;
        height: 3px;
        background: var(--cor-neutra2);
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    /* animação do X quando ativo */
    #menu-toggle:checked ~ .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }

    #menu-toggle:checked ~ .hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked ~ .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--cor-neutra1);
        flex-direction: column;
        padding: 0rem;
        gap: 1rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, padding 0.4s ease;
        z-index: 2;
    }

    #menu-toggle:checked ~ .nav-links {
        max-height: 500px;
        padding: 1.2rem 1.8rem;
    }

    .nav-links li a {
        font-size: 1rem;
        color: var(--cor-neutra2);
    }

    .lado-direito > a {
        display: none;
    }

    .nav-links li.contate {
        display: none;
    }
}